@import "../../Scss/Settings/colors";
@import "../../Scss/Settings/fonts";


.login-container {
  height:600px ;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 90vh;
  padding-top: 10vh;
  font-family: $font-alt;
  text-align: center;
}

.login-box {
  background-color: $color-light-grey;
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.buttons-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  margin: 10px 0;
  height: 22px;
}